<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BH bet</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap" rel="stylesheet">

    <style>
        body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            font-family: 'Karla', sans-serif;
        }
        
        .maeparademebater {
            margin: 0 auto;
            width: 50%;
            background-color: none;
        }
        
        .mdsbixo {
            background: transparent;
            border: none;
        }
        
        .ratilasca {
            width: 100px;
            border-radius: 50%;
            margin: 0 auto;
        }
        
        .fotos {
            width: 30px;
            border-radius: 50%;
        }
        
        .fotos2 {
            width: 30px;
        }
        
        @media only screen and (max-width: 600px) {
            .maeparademebater {
                margin: 0 auto;
                width: 100%;
            }
        }
    </style>

    <body class="bode">
        <!-- Navigation -->


        <!-- Page Content -->
        <div class="container">
            <div class="card border-0 mt-5 mb-4 mdsbixo">
                <img class="ratilasca" src="redondo.png" alt="">
                <h1 class="text-center" style="font-size: 30px; color:#3E4357;">BH Bet</h1>
                <h3 class="text-center" style="font-size: 20px; color: #777777; margin-top: -10px;">Tem um palpite?</h3>
                <h3 class="text-center" style="font-size: 20px; margin-top: -10px; color: #777777;">#AposteAqui</h3>
            </div>

            <div class="card border-0 maeparademebater">
                <a href="https://api.whatsapp.com/send?phone=553175956416&text=Ol%C3%A1,%20vim%20pelo%20Instagram%20da%20BH%20Bet." class="shadow"><button style="background:black; color: white; font-size: 18px;"" type="button" class="btn  btn-lg btn-block"><img src="zap.jpeg" class="fotos float-left" alt="">Whatsapp

                </button></a>
                <a class="shadow" href="https://api.whatsapp.com/send?phone=+553198400350&text=Ol%C3%A1,%20vim%20pelo%20Instagram%20da%20BH%20Bet."><button style="background:black; color: white; margin-top: 20px; font-size: 18px;" " type="button" class="btn  btn-lg btn-block"><img src="zap.jpeg" class="fotos float-left" alt="">Seja Parceiro(a)!</button></a>
                <a class="shadow" href="https://bhbet.net/"><button style="background:black; color: white; margin-top: 20px; font-size: 18px;" type="button" class="btn  btn-lg btn-block"><img src="site.png" class="fotos2 float-left" alt="">Click aqui e aposte!</button></a>

            </div>

        </div>

        <a href="https://instagram.com/zappata.ofc" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 16px; color: black">
            <div class="fixed-bottom mb-4 text-center">
                Feito com <span style="color: red">&hearts;</span> pela Zappata
            </div>
        </a>
        </div>


    </body>

</html>